<?xml version="1.0" ?>
<robot name="colmena" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <gazebo reference="chassis">
    <material>Gazebo/Gray</material>
  </gazebo>

  <gazebo reference="left_wheel">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="right_wheel">
    <material>Gazebo/Black</material>
  </gazebo>

</robot>
